PORT=4001
NODE_ENV=development
CLIENT_URL=http://localhost:4200

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=patient_management
DB_USER=root
DB_PASSWORD=
MIN_PASSWORD_LENGTH=6

JWT_SECRET=admin123
JWT_EXPIRES_IN=1d

SSN_ENCRYPTION_KEY=cfd2de246cf2af56951e5bda14dfd66b03561f761a83257980a5a3569e1f557a